body {
    background-color: palevioletred

}

h5{
    color:lightblue; font: 18px;
}

#A{ 
    color: blue; font:20px;
}

#B{
    color:red; font:25px; 
}

#C{
    background-color: lightpink;
    padding: 25px;
    text-align: center;
}

nav {
    overflow: hidden;
    background-color: black;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

nav a:hover {
    Background-color:grey;
    color:black;
}

.CurrentPage {
    background-color: white;
    color: black;
}