body {
    background-color: palevioletred

}

h5{
    color:lightblue; font: 18px;
}

#A{ 
    color: blue; font:20px;
}

#B{
    color:red; font:25px; 
}

#C{
    background-color: lightpink;
    padding: 25px;
    text-align: center;
}

nav {
    overflow: hidden;
    background-color: black;
    margin:0;
    border:0;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    margin:auto;
    border:0;
    text-decoration: none;
}

nav a:hover {
    Background-color:grey;
    color:black;
    padding: 15px 17px;
}

.CurrentPage {
    background-color: white;
    color: black;
    padding: 15px 17px;
}

#wood { 
		background: rgb(160, 70, 40);
		Width: 150px;
		height: 50px;
		border-radius: 13px
}